@using TheHinhPower.Areas
@model TheHinhPower.Service.ViewModels.ProductViewModel
<div class="wrapper theme-1-active pimary-color-green">
    <div class="tab-content">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel panel-default card-view">
                    <div class="panel-heading">
                        <div class="pull-left">
                            <h6 class="panel-title txt-dark">Thêm sản phẩm</h6>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="panel-wrapper collapse in">
                        <div class="panel-body">
                            <div class="form-wrap">
                                <form asp-action="AddEdit" asp-controller="Product" enctype="multipart/form-data" class="form-horizontal" method="POST">
                                    <div class="form-group mb-0">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <label class="control-label mb-10">Tên sản phẩm1</label>
                                                    <input type="text" asp-for="Name" class="form-control">
                                                </div>
                                            </div>
                                            <button type="submit"> Thêm</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>